<!DOCTYPE html>
<html id="html" class="no-js" lang="{{ app.language_code }}">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{{ app.name | trans }}{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="cleartype" content="on" />
        <meta name="author" content="{{ app.author }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="HandheldFriendly" content="True" />
        <meta name="MobileOptimized" content="480" />
        <!-- Stylesheets -->
            {% block stylesheets_before %}{% endblock %}
            {% block stylesheets %}
                <link rel="stylesheet" href="{{ app.baseUri }}/assets/vendor/animate.css/animate.min.css" />
                <link rel="stylesheet" href="{{ app.baseUri }}/assets/vendor/fontawesome/css/font-awesome.min.css" />
                <link rel="stylesheet" href="{{ app.baseUri }}/assets/vendor/bootstrap/dist/css/bootstrap.min.css" />
                <link rel="stylesheet" href="{{ app.baseUri }}/assets/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" />
                <link rel="stylesheet" href="{{ app.baseUri }}/assets/stylesheets/helpers.css" />
                <link rel="stylesheet" href="{{ app.baseUri }}/assets/stylesheets/application.css?v={{ app.version }}" />
            {% endblock %}
            {% block stylesheets_after %}{% endblock %}
        <!-- Stylesheets /END -->
        <!-- Head Javascripts -->
            {% block head_javascripts_before %}{% endblock %}
            {% block head_javascripts %}
                <script>
                    var baseUrl = '{{ app.baseUrl }}';
                    var baseUri = '{{ app.baseUri }}';
                    var currentUrl = '{{ app.currentUrl }}';
                    var currentUri = '{{ app.currentUri }}';
                </script>
                <script type="text/javascript" src="{{ app.baseUri }}/assets/vendor/modernizr/modernizr.js"></script>
                <script type="text/javascript" src="{{ app.baseUri }}/assets/vendor/respond/dest/respond.min.js"></script>
            {% endblock %}
            {% block head_javascripts_after %}{% endblock %}
        <!-- Head Javascripts /END -->
    </head>
    <body id="body">
        <div id="application" role="application">
            {% block application %}
                <div id="wrapper">
                    {% block wrapper %}
                        {% set isContainerFluid = isContainerFluid is defined ? isContainerFluid : true %}
                        <header id="header" role="banner">
                            {% block header %}
                                {% include 'layouts/default/_header.html.twig' %}
                            {% endblock %}
                        </header> <!-- /#header -->
                        <div id="content">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        {% include 'layouts/default/_flash-messages.html.twig' %}
                                    </div>
                                </div>
                            </div>
                            {% block content %}
                                <div class="container{{ isContainerFluid ? '-fluid' : '' }}">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="main" role="main">
                                                {% block main %}{% endblock %}
                                            </div> <!-- /#main -->
                                        </div> <!-- /.col-md-8 -->
                                    </div> <!-- /.row -->
                                </div> <!-- /.container-fluid -->
                            {% endblock %}
                        </div> <!-- /#content -->
                        <footer id="footer" role="contentinfo">
                            {% block footer %}
                                {% include 'layouts/default/_footer.html.twig' %}
                            {% endblock %}
                        </footer> <!-- /#footer -->
                    {% endblock %}
                </div> <!-- /#wrapper -->
                {% block wrapper_after %}{% endblock %}
            {% endblock %}
        </div> <!-- /#application -->
        <!-- Body Javascripts -->
            {% block body_javascripts_before %}{% endblock %}
            {% block body_javascripts %}
                <script type="text/javascript" src="{{ app.baseUri }}/assets/vendor/jquery/dist/jquery.min.js"></script>
                <script type="text/javascript" src="{{ app.baseUri }}/assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
                <script type="text/javascript">
                    jQuery.noConflict();
                </script>
                <script type="text/javascript" src="{{ app.baseUri }}/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
                <script type="text/javascript" src="{{ app.baseUri }}/assets/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
                <script type="text/javascript" src="{{ app.baseUri }}/assets/vendor/moment/min/moment-with-locales.min.js"></script>
                <script type="text/javascript" src="{{ app.baseUri }}/assets/vendor/uri.js/src/URI.min.js"></script>
                <script type="text/javascript" src="{{ app.baseUri }}/assets/javascripts/helpers.js"></script>
                <script type="text/javascript" src="{{ app.baseUri }}/assets/javascripts/wask.js"></script>
                <script type="text/javascript" src="{{ app.baseUri }}/assets/javascripts/application.js?v={{ app.version }}"></script>
            {% endblock %}
            {% block body_javascripts_after %}{% endblock %}
        <!-- Body Javascripts /END -->
    </body>
</html>
