<div id="footer-links">
    <ul id="footer-links-list"
        class="list-unstyled text-center">
        <li>
            <a href="{{ url('members-area.login') }}">
                {{ 'Login' | trans }}
            </a>
        </li>
        {% if app.user_system_options.registrations_enabled %}
            <li>
                <a href="{{ url('members-area.register') }}">
                    {{ 'Register' | trans }}
                </a>
            </li>
        {% endif %}
        <li>
            <a href="{{ url('members-area.reset-password') }}">
                {{ 'Reset password' | trans }}
            </a>
        </li>
    </ul> <!-- /#footer-links-list -->
</div> <!-- /#footer-links -->
