{% extends 'layouts/content/members-area/register.html.twig' %}

{% block title %}{{ 'Register'|trans }} | {{ parent() }}{% endblock %}

{% block main %}
	<h1 class="text-center">{{ 'Register'|trans }}</h1>
	<hr />
    {% if alert %}
		<div class="alert alert-{{ alert }}">
			{{ alertMessage | trans | raw }}
		</div>
	{% else %}
		{{ form(form) }}
	{% endif %}
{% endblock %}
