{% extends 'layouts/content/members-area/reset-password.html.twig' %}

{% block title %}{{ 'Reset password' | trans }} | {{ parent() }}{% endblock %}

{% block main %}
    <h1 class="text-center">
        {{ 'Reset password' | trans }}
    </h1>
    <hr />
    {% if alert %}
        <div class="alert alert-{{ alert }}">
            {{ alertMessage | trans | raw }}
        </div>
    {% endif %}
    {% if alert == false %}
        {{ form(form) }}
    {% endif %}
{% endblock %}
