{% extends 'layouts/members-area.html.twig' %}

{% set user = user | default(app.user) %}

{% block title %}{{ 'Password' | trans }} | {{ 'My' | trans }} | {{ parent() }}{% endblock %}

{% block main %}
    <h1>{{ 'Password' | trans }}</h1>
    <ol class="breadcrumb">
        <li>
            <a href="{{ url('members-area') }}">
                {{ 'Home' | trans }}
            </a>
        </li>
        <li>
            <a href="{{ url('members-area.my') }}">
                {{ 'My' | trans }}
            </a>
        </li>
        <li class="active">
            {{ 'Password' | trans }}
        </li>
    </ol>
    {{ form(form) }}
{% endblock %}
