{% extends 'layouts/members-area.html.twig' %}

{% set user = user | default(app.user) %}

{% block title %}{{ 'Settings' | trans }} | {{ 'My' | trans }} | {{ parent() }}{% endblock %}

{% block main %}
    <h1>{{ 'Settings' | trans }}</h1>
    <ol class="breadcrumb">
        <li>
            <a href="{{ url('members-area') }}">
                {{ 'Home' | trans }}
            </a>
        </li>
        <li>
            <a href="{{ url('members-area.my') }}">
                {{ 'My' | trans }}
            </a>
        </li>
        <li class="active">
            {{ 'Settings' | trans }}
        </li>
    </ol>
    {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="row">
            <div class="col-md-6">
                <h3>{{ 'Profile' | trans }}</h3>
                {{ form_row(form.profile.title) }}
                {{ form_row(form.profile.firstName) }}
                {{ form_row(form.profile.middleName) }}
                {{ form_row(form.profile.lastName) }}
                {{ form_row(form.profile.gender) }}
                {{ form_row(form.profile.birthdate) }}
                {{ form_row(form.profile.image) }}
                {% if user is defined and user.getProfile().getImageUrl() %}
                    <h4>{{ 'Current image' | trans }}</h4>
                    <img class="img-responsive"
                        src="{{ user.getProfile().getImageUrl() }}"
                        style="max-height: 100px;" />
                    {{ form_row(form.profile.removeImage) }}
                {% endif %}
                {% do form.profile.removeImage.setRendered %}
            </div>
            <div class="col-md-6">
                <h3>{{ 'Account' | trans }}</h3>
                {{ form_row(form.username) }}
                {{ form_row(form.email) }}
            </div>
        </div>
        {{ form_row(form.submitButton) }}
    {{ form_end(form) }}
{% endblock %}
