{% extends 'layouts/members-area.html.twig' %}

{% set serverData = app['application.server_info'].getData() %}

{% block title %}{{ 'Statistics' | trans }} | {{ parent() }}{% endblock %}

{% block main %}
    <h1>{{ 'Statistics' | trans }}</h1>
    <ol class="breadcrumb">
        <li>
            <a href="{{ url('members-area') }}">
                {{ 'Home' | trans }}
            </a>
        </li>
        <li class="active">
            {{ 'Statistics' | trans }}
        </li>
    </ol>
    <div id="main-content">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        {{ 'Users' | trans }}
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            {{ 'Total' | trans }}
                            <span class="badge">
                                {{ app['orm.em'].getRepository('Application\\Entity\\UserEntity').countAll() }}
                            </span>
                        </li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item">
                            {{ 'Actions' | trans }}
                            <span class="badge">
                                {{ app['orm.em'].getRepository('Application\\Entity\\UserActionEntity').countAll() }}
                            </span>
                        </li>
                    </ul>
                </div> <!-- /.panel -->
            </div> <!-- /.col-md-4 -->
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        {{ 'Posts' | trans }}
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            {{ 'Total' | trans }}
                            <span class="badge">
                                {{ app['orm.em'].getRepository('Application\\Entity\\PostEntity').countAll() }}
                            </span>
                        </li>
                    </ul>
                </div> <!-- /.panel -->
            </div> <!-- /.col-md-4 -->
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        {{ 'Errors' | trans }}
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            {{ 'Total' | trans }}
                            <span class="badge">
                                {{ app['orm.em'].getRepository('Application\\Entity\\ErrorEntity').countAll() }}
                            </span>
                        </li>
                    </ul>
                </div> <!-- /.panel -->
            </div> <!-- /.col-md-4 -->
        </div> <!-- /.row -->
    </div>
    <div id="server-information-panel"
        class="panel panel-primary">
        <div class="panel-heading">{{ 'Server information' | trans }}</div>
        <div class="panel-body">
            <div>
                <b>{{ 'Uptime' | trans }}:</b>
                {{ serverData.uptime }}
                <small>
                    ({{ serverData.uptimeSeconds }}
                    {{ 'seconds' | trans }})
                </small>
            </div>
            <div>
                <b>{{ 'Load' | trans }}:</b>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ serverData.loadPercentage }}"
                        aria-valuemin="0" aria-valuemax="100" style="min-width: 4em; width: {{ serverData.loadPercentage }}%;">
                        {{ serverData.loadPercentage | number_format(2) }}%
                    </div>
                </div>

            </div>
            <div>
                <b>{{ 'HDD' | trans }}:</b>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ serverData.hddUsedPercentage }}"
                        aria-valuemin="0" aria-valuemax="100" style="min-width: 4em; width: {{ serverData.hddUsedPercentage }}%;">
                        {{ serverData.hddUsedPercentage | number_format(2) }}%
                    </div>
                </div>
            </div>
            <div>
                <b>{{ 'Memory' | trans }}:</b>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ serverData.memoryUsedPercentage }}"
                        aria-valuemin="0" aria-valuemax="100" style="min-width: 4em; width: {{ serverData.memoryUsedPercentage }}%;">
                        {{ serverData.memoryUsedPercentage | number_format(2) }}%
                    </div>
                </div>
            </div>
            {# dump(serverData) #}
        </div>
    </div> <!-- /.panel -->
{% endblock %}
